<ion-content class="scene-content">
  <div class="back-icon"><a href="/menu"><ion-icon class="icon-undo" name="undo"></ion-icon></a></div>
  <div class="container">
    <div class="credits-content">
      <h1>Flug 341- ein Ambiventure</h1>
      <h2>Sprecher</h2>
      <p>Ann-Kathrin Jauk<br>
        Prof. Norbert Schnell</p>
      <h2>Beteiligte Personen</h2>
      <p>Marc Wittmann<br>
        Daniel Aigeldinger<br>
        Daniel Kern<br>
        Florian Kudirka<br>
        Philipp Oeschger<br>
        Melvin Busch</p>
        <h2>Betreuende Professoren</h2>
        <p>Prof. Matthias Reusch<br>
        Prof. Norbert Schnell</p>
        <p class="zusatz">diese Anwendung ist entstanden im Rahmen des Projektstudiums an der Hochschule Furtwangen, Fakultät Digitale Medien</p>
        <img class="hfu-logo" src="../../assets/icon/Hochschule_Furtwangen_HFU_logo.svg" alt="HFU">
    </div>
  </div>
</ion-content>