.skip-button{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    transition: all 0.2s;

}

.button-active{
    opacity: 1;
}

.button-deactivated{
    opacity: 0.3;
}