<div class="overlay" [hidden]="overlayHidden">
    <div class="overlay-content-wrapper">
        <ion-img src="assets/imgs/stylephones.svg"> </ion-img>
        <p>Um die binauralen Klänge erleben zu können, benutze bitte Kopfhörer.</p>
        <ion-button size="large" (click)="hideOverlay()">Bestätigen</ion-button>
    </div>
</div>
<ion-content>
      <h1 class="app-title">Flug 341</h1>

      <div class="menu-container">
        <div class="menu-items">
            <ion-button class="menu-button" expand="block" color="primary" href="/szene3-aufbruch">Story Beginnen</ion-button>
            <ion-button class="menu-button" expand="block" color="primary" href="/anleitung">So wird gespielt</ion-button>
            <ion-button class="menu-button" expand="block" color="primary">Credits</ion-button>
        </div>
      </div>
</ion-content>
