.qte-btn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #5DA57A;
    border-radius: 50%;
    padding: 0.5rem;
}

.help-icon{
    width: 150px;
    height: 150px;
    background: url("../../../assets/imgs/Seil.svg") no-repeat center center;

}

.container {
    padding: 5rem 0rem;
    position: relative;
    width: 100%;
    text-align: center;
    justify-content: center;
    animation: shrink 3s linear forwards;
}

@keyframes shrink {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}