<div class="interaction">
  <div class="container">
    <div class="table-cell">
      <div class="compass">
        <app-compass [heading]="heading" ></app-compass>
      </div>
      <div class="qte-button-container">
        <ion-icon [hidden]="hideLeftArrow" color="primary" class="arrow arrow-left" name="arrow-dropleft"></ion-icon>
        <div class="qte-btn" (click)="onClick()" [ngClass]="(isActive)? '': 'not-active'">
          <div class="icon" [ngStyle]="{'background': getIcon()}"></div>
        </div>
        <ion-icon [hidden]="hideRightArrow" color="primary" class="arrow arrow-right" name="arrow-dropright"></ion-icon>
      </div>
    </div>
  </div>
</div>
