.center-text {
    text-align: center;
}

.compass-container {
    width: 100%;
    position: relative;
    margin-bottom: 1rem;
    z-index: 10;
}

.compass-Background {
    position: absolute;
    margin: auto;
    width: 200px;
    height: 200px;
    background-image: url("../../../assets/imgs/compass.svg");
}

.pointer {
    position: absolute;
    z-index: 100;
    width: 0px;
    background-color: red;
    height: 210px;
    left: 97px;
    top: -5px;
    display: hide !important;
}

.compass-inneres {
    position: relative;
    margin: auto;
    width: 200px;
    height: 200px
}
