.compass-pos{
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.qte-pos{
    position: absolute;
    z-index: 12;
    left: 50%;
    transform: translateX(-50%);
    top:300px;
}
