<div class="gegenstand-container">
  <h1 class="title">Wähle einen Gegenstand</h1>
  <div class="gegenstand">
    <img (click)="onclick(0)" class="gegenstand-icon" src="assets/imgs/Messer_white.svg" alt="Messer">
    <span class="unterschrift">Messer</span>
  </div>
  <div class="gegenstand">
    <img (click)="onclick(1)" class="gegenstand-icon" src="assets/imgs/Seil_white.svg" alt="Seil">
    <span class="unterschrift">Seil</span>
  </div>
  <div class="gegenstand">
    <img (click)="onclick(2)" class="gegenstand-icon" src="assets/imgs/Taschenlampe_white.svg" alt="Taschenlampe">
    <span class="unterschrift">Taschenlampe</span>
  </div>

  <!-- Background -->
  <div class="suitcase">
    <div class="corner top-left"></div>
    <div class="corner left-side"></div>
    <div class="corner bottom-left"></div>
    <div class="corner top-right"></div>
    <div class="corner right-side"></div>
    <div class="corner bottom-right"></div>
  </div>
</div>
